<app-table></app-table>

<mat-nav-list>
  <mat-list-item *ngFor="let user of users">
    <h4 matLine (click)="showInfo(user)">{{ user.name }}</h4>
  </mat-list-item>
</mat-nav-list>

<h1>Here's the user Details:</h1>
<div *ngIf="selectedUser">
  {{ selectedUser | json }}
</div>

<hr>

<mat-button-toggle-group
  #group="matButtonToggleGroup"
  multiple=true>
  <mat-button-toggle
    *ngFor="let image of images"
    value="image.id"
    matBadge="✔️"
    matBadgePosition="above after"
    matBadgeHidden="!selected"
    matBadgeColor="basic"
    style="padding-top:10px; padding-bottom:10px; margin:10px">
    <img src="{{image.url}}" />
  </mat-button-toggle>
</mat-button-toggle-group>
